<div class="row px-2">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Lista {{flag | titlecase }} ({{ cantidad }})</mat-card-title>
        <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
        <span class="spacer"></span>
        <mat-dialog-actions>
          <button mat-mini-fab matTooltip="Crear Nuevo" (click)="createCarpeta()" color="primary"
            aria-label="Example mini fab with a heart icon">
            <mat-icon>add</mat-icon>
          </button>
        </mat-dialog-actions>

      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Buscar...</mat-label>
        <input matInput placeholder="Buscar" search (keyup)="applyFilter($event)" #termino>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div>
          <table mat-table matSort [dataSource]="dataSource">

            <ng-container matColumnDef="gestion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Gestión</th>
              <td mat-cell *matCellDef="let row">{{ row.gestion }}</td>
            </ng-container>

            <ng-container matColumnDef="tomo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tomo</th>
              <td mat-cell *matCellDef="let row">{{ row.tomo }}</td>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.tipo === 'leyes'">{{ 'Leyes'| titlecase }}</span>
                <span *ngIf="row.tipo === 'correspondencias'">{{ 'Correspondencias'| titlecase }} <span *ngIf="row.subTipo"> - {{ row.subTipo | titlecase  }}</span></span>
                <span *ngIf="row.tipo === 'resoluciones'">{{ 'Resoluciones'| titlecase }}</span>
                <span *ngIf="row.tipo === 'peticiones'">{{ 'Petición de Informes'| titlecase }} <span *ngIf="row.subTipo"> - {{ row.subTipo | titlecase  }}</span></span>
                <span *ngIf="row.tipo === 'convocatorias'">{{ 'Convocatorias'| titlecase }}</span>
                <span *ngIf="row.tipo === 'cronogramas'">{{ 'Cronogramas'| titlecase }}</span>
                <span *ngIf="row.tipo === 'minutas'">{{ 'Minuta De Comunicación'| titlecase }}</span>
                <span *ngIf="row.tipo === 'infcomisiones'">{{ 'Informes De Comisión'| titlecase }} <span *ngIf="row.subTipo"> - {{ row.subTipo | titlecase  }}</span></span>
                <span *ngIf="row.tipo === 'infiscalizacion'">{{ 'Informe de Fiscalización'| titlecase }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="lugar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Lugar</th>
              <td mat-cell *matCellDef="let row">{{ row.lugar }}</td>
            </ng-container>

            <ng-container matColumnDef="estante">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Estante</th>
              <td mat-cell *matCellDef="let row">{{ row.estante }}</td>
            </ng-container>

            <ng-container matColumnDef="fila">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fila</th>
              <td mat-cell *matCellDef="let row">{{ row.fila }}</td>
            </ng-container>

            <ng-container matColumnDef="observaciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
              <td mat-cell *matCellDef="let row">{{ row.observaciones }}</td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;">Acciones</th>
              <td></td>
              <td mat-cell *matCellDef="let row" style="width: 220px;">
                <button class="iconBtn" (click)="listArchivo(row)" mat-icon-button color="accent" matTooltip="Ver Archivos"
                  aria-label="Example icon-button with a heart icon">
                  <mat-icon>preview</mat-icon>
                </button>
                <button class="iconBtn" (click)="createArchivo(row)" mat-icon-button color="primary" matTooltip="Añadir Archivo"
                  aria-label="Example icon-button with a heart icon">
                  <mat-icon>library_add</mat-icon>
                </button>
                <button class="iconBtn" (click)="editCarpeta(row._id)" mat-icon-button color="primary" matTooltip="Editar"
                  aria-label="Example icon-button with a heart icon">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="iconBtn" (click)="deleteCarpeta(row._id)" mat-icon-button color="warn" matTooltip="Eliminar"
                  aria-label="Example icon-button with a heart icon">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>


            <tr *matNoDataRow>
              <td class="mat-cell">"{{ termino.value }}" No existe</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10 ,25 , 50]" aria-label="Select Page of Users"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
